@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

.mesh-bg {
  background-image:
    radial-gradient(circle at 10% 20%, rgba(255, 0, 150, 0.4), transparent 60%),
    radial-gradient(circle at 80% 0%, rgba(0, 200, 255, 0.4), transparent 60%),
    radial-gradient(circle at 0% 80%, rgba(0, 255, 150, 0.4), transparent 60%);
  filter: blur(30px);
}

